
@{
    ViewData["Title"] = "AddFile";
}

<h1>AddFile</h1>
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

